<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>

  <!--

     #####                                   #######
    #     # #####   ##    ####  #    #       #       #####
    #         #    #  #  #    # #   #        #       #    #
     #####    #   #    # #      ####   ##### #####   #    #
          #   #   ###### #      #  #         #       #    #
    #     #   #   #    # #    # #   #        #       #    #
     #####    #   #    #  ####  #    #       ####### #####

    Feel free to peruse the code. Interested in contributing? https://github.com/nirvanatikku/stack-ed

    Nirvana Tikku (@ntikku)

  -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Stack-Ed. Stand on the shoulders of the Stack Overflow Giants.</title>
  <meta name="description" content="The most reputable StackOverflow contributors and their accepted answers to questions.">
  <meta name="author" content="Nirvana Tikku">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--
    STYLES
  -->
  <!-- Type Kit Settings -->
  <script type="text/javascript" src="//use.typekit.net/pyr5mee.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/bootstrap.css"> <!--.min.css; need to pull this out? -->
  <link rel="stylesheet" href="/css/bootstrap-responsive.css">
  <link rel="stylesheet/less" type="text/css" href="/css/website.less"/>

  <link href="http://fonts.googleapis.com/css?family=Helvetica Neue&subset=latin" rel="stylesheet" type="text/css">

  <!--
    SCRIPTS
  -->
  <script src="/js/libs/modernizr.min.js"></script>
  <script src="/js/libs/require.js" data-main="js/main"></script>
  <script src="/js/libs/less.min.js"></script>

</head>
<body>

  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '[provide a google analytics id]']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <div class="js-navbar ui-navbar navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="">
          <a class="brand" href="/">Stack-Ed</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li>
                <a href="#about" role="button" class="" data-toggle="modal">About</a>
              </li>
              <li class='ui-twitter-button'>
                <a href="https://twitter.com/stack_ed" class="twitter-follow-button" data-show-count="true" data-lang="en">Follow @stack_ed</a>
                <a href="https://twitter.com/share" class="twitter-share-button" data-via="ntikku">Tweet</a>
              </li>
              <li class="ui-gplus-button">
                <div class="g-plusone"></div>
              </li>
              <li class='ui-fb-button'>
                <iframe src="https://www.facebook.com/plugins/like.php?href=http://www.stack-ed.com&layout=button_count&width=75&show_faces=false&send=false" scrolling="no" frameborder="0" style="border:none; width:105px; height:40px"></iframe>
              </li>
            </ul>
            <div class="pull-right ui-user-info-container user-info-container">
              {% if user %}
                <div>
                  <span  class="label label-inverse">
                    {{ user.nickname }} &nbsp;
              <a href='#my-starred-questions' rel="tooltip" class='badge badge-info js-stacked-user-num-starred' data-placement="bottom" data-original-title="Filter Favorite Questions" title="Filter Favorite Questions">{{ user.num_starred }}</a>
                  </span>
                  &nbsp; &nbsp; / &nbsp; &nbsp;
                  <a href="{{ logout_url }}" class="">Logout</a>
                </div>
              {% else %}
                <a href="{{ login_url }}" class="label label-inverse">  Sign In
                </a>
                {% endif %}
            </div>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

  <div id='wrap' class='main-container' role="main">

    {{ page }}

  </div>

  <div id="footer">
    <div class="container">
      <p class="muted credit">
        Created by <a href="http://tikku.com">Nirvana Tikku</a>. Built in Boston. <em>Note: This site has not been optimized for Mobile (yet).</em>
        <span class='pull-right'>Powered by the <a href='http://api.stackexchange.com/'>StackExchange API</a>. </span>
      </p>
    </div>
  </div>

<div id="about" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">About Stack-Ed</h3>
  </div>
  <div class="modal-body">
    <p>There's a <big>wealth</big> of information on StackOverflow.</p>

    <p> If you're a developer, you've definitely appreciated StackOverflow and the exceptional community. </p>
    <p>If you get a kick out of giving back, being held accountable to your understanding and articulation of technical topics, or simply enjoy problem solving, you may spend a significant amount of time on the site.</p>
    <p>Stack-Ed is a very simple site that provides a portal into the <big>the most reputable StackOverflow contributors and their accepted answers to questions</big>. </p>
    <p>Start by selecting a topic then freely peruse the contributors with the highest reputations. Select a given contributor and see Questions that they have answered on StackOverflow.</p>
    <p>This idea was inspired by several utilities shared on HackerNews lately, as well as a recent addiction to StackOverflow.
      <ul>
        <li>
          <a href='http://news.ycombinator.com/item?id=5027021'>howdoi</a> - a command line utility written in python that resolves the StackOverflow content via google and duckduckgo.com
        </li>
        <li>
          <a href='http://news.ycombinator.com/item?id=4916929'>codingforinterviews.com</a> - empowering users to learn useful areas of technical depth in a more passive manner
        </li>
        <li>
          <a href='http://news.ycombinator.com/news'>HackerNews</a> - the simple act of seeing content based on <em>trends</em> or data <em>validated by users</em>
        </li>
      </ul>
    </p>
    <br/>
    <p>
      Think of Stack-Ed as an educational resource. Learn as much as you can.
  </p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>

{% if not user %}
<div id="signin" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="signin" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="signin">Sign In to Stack-Ed</h3>
  </div>
  <div class="modal-body">
    <p>
      Signing into Stack-Ed will allow you to star your favorite questions.
    </p>
    <p>
      Once signed in, you will be able to retrieve your starred questions conveniently.
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn pull-right" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>
{% endif %}

<script src="/js/plugins.js"></script>

</body>
</html>
